@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
    padding:0px;
    box-sizing:border-box;
}
#slider{
	height: 100%;
    width:100%;
	background-repeat:no-repeat;
	background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	position:absolute;
	z-index:-1;
}
#row1{
	height:827px;
/*  background:#999;
    position:absolute;
	top:-780px;
	bottom:0px;
	z-index:-1;*/
}
#logo img{
	float:left;
	margin-top:36px;
}
header{
	height:120px;
	width:80%;
	margin:0 auto;
}
nav{
	float:right;
}
nav ul{
	list-style:none;
	width:100%;
}
nav ul li{
	float:left;
	padding-left:30px;
	margin-top:55px;
}
nav ul li a{
	text-decoration:none;
	color:#FFF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:0.8px;
	font-size:14px;
	
	transition-property:color;
	transition-duration:0.3s;
	transition-timing-function:ease-out;
}
nav ul li a:hover{
	color:#FC0;
}
nav ul li a.active{
	color:#FC0;
}
#line{
	width:100%;
	border:0.5px solid #737373;
}
#slidertext{
	width:80%;
	height:100%;
	margin:0 auto;
	margin-top:200px;
}
#sliderheading{
	font-family:Arial, Helvetica, sans-serif;
	font-size:70px;
	letter-spacing:-2px;
	font-weight:800;
	color:#FFF;
	animation:example 2s;
	position:relative;
	animation-timing-function:linear;
	-webkit-animation:example 2s;
	-moz-animation:example 2s;
	-o-animation:example 2s;
}
@keyframes example{
	0%{opacity:0;}
	50%{opacity:0;}
	100%{opacity:1;}	
}

#sliderheading span{
	color:#FC0;
	font-weight:800;
}
#slidertagline{
	font-family:Tahoma, Geneva, sans-serif;
	letter-spacing:1px;
	padding-right:150px;
	margin-left:5px;
	margin-top:20px;
	color:#FFF;
	
	animation:tagline 2.5s;
	position:relative;
	animation-timing-function:linear;
	-webkit-animation:tagline 2.5s;
	-moz-animation:tagline 2.5s;
	-o-animation:tagline 2.5s;
}
@keyframes tagline{
	0%{opacity:0;}
	50%{opacity:0;}
	100%{opacity:1;}	
}
#sliderbtn{
	padding:15px 35px 15px 35px;
	margin-left:5px;
	margin-top:50px;
	border:1.5px solid #FFF;
	border-radius:6px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
	letter-spacing:0.5px;
	background:none;
	color:#FFF;
	
	transition-property:background;
	transition-duration:0.3s;
	transition-timing-function:ease-out;

	animation:examplebtn 3.5s;
	position:relative;
	animation-timing-function:linear;
	-webkit-animation:examplebtn 3.5s;
	-moz-animation:examplebtn 3.5s;
	-o-animation:examplebtn 3.5s;
}
@keyframes examplebtn{
	0%{opacity:0;}
	50%{opacity:0;}
	100%{opacity:1;}	
}

#sliderbtn:hover{
	background:#FC0;
	border:1.5px solid #FC0;
}
#row2{
	width:80%;
	margin:0 auto;
	margin-top:120px;
	height:300px;
}
#row2img{
	float:left;
	margin-right:50px;
	border:1px solid #999;
}
#row2label{
	padding-top:30px;
	font-size:18px;
	font-weight:bold;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
}
#row2heading{
	margin-top:0px;
	font-size:30px;
	font-weight:800;
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
}
#row2heading span{
	color:#FC0;
	font-weight:800;
}
#row2text{
	margin-top:20px;
	font-size:18px;
	color:#999;
	font-family:Tahoma, Geneva, sans-serif;
}

#row2btn{
	margin-top:40px;
    padding:15px 30px 15px 30px;
	border:0px;
	border-radius:6px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
	letter-spacing:0.5px;
	background:#666;
	color:#FFF;
	
	transition-property:background;
	transition-duration:0.3s;
	transition-timing-function:ease-out;
}
#row2btn:hover{
	background:#FC0;
	border:0px;
}
#row3{
	width:80%;
	margin:0 auto;
	margin-top:120px;
	height:385px;
}
#row3heading{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	font-weight:800;
	color:#333;
}
#row3label{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#666;
	margin-top:5px;
	margin-bottom:70px;
}
#row4{
	margin:0 auto;
	width:100%;
	margin-top:120px;
	height:600px;
}
#row4heading{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	font-weight:800;
	color:#FFF;
	margin-bottom:80px;
	padding-top:100px;
}
#row4matchlabel{
	margin-left:400px;
}
#row4timming{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#FFF;
	margin-top:0px;
	margin-bottom:5px;
}
#row4location{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#FFF;
	margin-top:5px;
	margin-bottom:50px;
}
#row4box1{
	float:left;
	margin-left:420px;
	width:170px;
	padding:15px 0px 15px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	background:#000;
	color:#FFF;
}
#row4box2{
	margin:0 auto;
	width:170px;
	padding:15px 0px 15px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	background:#000;
	color:#FFF;
}
#row4box3{
	margin-right:420px;
	margin-top:-48px;
	float:right;
	width:170px;
	padding:15px 0px 15px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	background:#000;
	color:#FFF;
}
/*------------row 5--------------------*/
#row5{
	margin:0 auto;
	width:80%;
	margin-top:120px;
	height:561px;
}
#row5heading{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	font-weight:800;
	color:#333;
	margin-bottom:80px;
}
/*------------row 5 product 1--------------------*/
#row5pro1{
	width:266px;
	height:436px;
	float:left;
	position:relative;
	margin-right:24.3px;
}
.images{
	height:242px;
	width:158px;
	margin:10px 0px 25px 45px;
}
#row5pro1_heading a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:bold;
	color:#666;
	margin-left:5px;
	text-decoration:none;
	
	transition-property:color;
	transition-duration:0.3s;
	transition-timing-function:ease-out;
}
#row5pro1_heading a:hover{
	color:#FC0;
}
#row5pro1_label{
	color:#666;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:lighter;
	margin-left:5px;
}
#row5pro1_price{
	margin-top:20px;
	color:#333;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:lighter;
	margin-left:5px;
}
#row5pro1_btn{
	margin-top:20px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:700;
	height:30px;
	width:100px;
/*	padding:7px 10px 7px 10px;*/
	color:#FFF;
	background:#666;
	border:0px;
	margin-left:5px;
	
	transition-property:background;
	transition-duration:0.3s;
	transition-timing-function:ease-out;
}
#row5pro1_btn:hover{
	color:#FFF;
	background:#FC0;
	border:0px;
}
#row5pro1_like{
	font-size:20px;
	width:30px;
	height:30px;
/*	padding:0px 10px 5px 10px;*/
	color:#FFF;
	background:#FC0;
	border:0px;
	margin-left:5px;
	position:relative;
	top:2px;
	transition-property:background;
	transition-duration:0.2s;
	transition-timing-function:ease-out;
}
#row5pro1_like:hover{
	color:#FFF;
	background:#666;
	border:0px;
}
/*------------row 5 product 2--------------------*/
#row5pro2{
	width:266px;
	height:436px;
	float:left;
	position:relative;
	margin-right:24.3px;
}
#row5pro3{
	width:266px;
	height:436px;
	float:left;
	position:relative;
	margin-right:24.3px;
}
#row5pro4{
	width:266px;
	height:436px;
	float:right;
	position:relative;
}
/*------------row 5 end--------------------*/

#row6{
    width:100%;
	height:700px;
	background-repeat:no-repeat;
	background-size:cover;
	margin-top:120px;
}
#row6heading{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	font-weight:800;
	color:#FFF;
	letter-spacing:1px;
	padding-top:80px;
	margin-bottom:60px;
}
#row6images{
	width:80%;
}
#row6img1{
	width:340px;
	height:200px;
	margin:10px;
	
	transition-duration:0.5s;
	
}
#row6img1:hover{
	transform:scale(1.5,1.5);
	transition-timing-function:ease-in-out;
	transform-style:preserve-3d;
	
}
/*------------row 6 end--------------------*/
#row7{
    width:80%;
	margin:0 auto;
	margin-top:120px;
}
#row7heading{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	font-weight:800;
	color:#000;
	letter-spacing:1px;
	margin-bottom:60px;
}
#table{
	margin:0 auto;
	text-align:center;
	border-collapse:collapse;
}
td{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
	padding: 8px 50px 8px 50px;
	border:1px solid #CCC;
}
.line1{
	text-align:left;
}
#row7btn{
	margin-top:30px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:700;
	height:40px;
	width:130px;
	color:#666;
	background:none;
	border:1px solid #CCC;
	
	
	transition-property:background;
	transition-duration:0.3s;
	transition-timing-function:ease-out;
}
#row7btn:hover{
	color:#FFF;
	background:#FC0;
	border:0px;
}
/*------------row 7 end--------------------*/

footer{
    width:100%;
	height:462px;
	background:#3A3A3A;
	margin-top:120px;
}
#footerimg{
	width:580px;
	height:410px;
	position:absolute;
}
#rowfooter{
	margin:0 auto;
	width:80%;
	height:310px;
	/*background:#930;*/
	position:relative;
	z-index:1;
	top:100px;
}
#footerlogo{
}
#footertext1{
	color:#FFF;
	margin-top:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	width:400px;
	line-height:25px;
}
#sicon1{	
	width:15px;
	margin-right:10px;
	margin-top:30px;
}
/*#sicon1:hover{
	background:#FC0;
}*/
#rightshadow{
	margin-top:-310px;
	margin-left:579px;
/*	position:relative;
	z-index:1;*/
}
#footerheading1{
	text-align:center;
	margin-top:-200px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;
	color:#FFF;
	letter-spacing:1px;
}
#footertext2{
	float:left;
	margin-left:480px;
	color:#FFF;
	margin-top:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	width:300px;
	line-height:25px;
}
#footerheading2{
	float:right;
	margin-right:150px;
	margin-top:-31px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;
	color:#FFF;
	letter-spacing:1px;
}
input[type=email]{
	position:relative;
	left:50px;
	padding:12px 55px 12px 20px;
	margin-right:57px;
	margin-top:25px;
	background:#333;
	color:#999;
	font-size:14px;
	letter-spacing:0.7px;
	border:1px solid #666;
	margin-bottom:10px;
}
input[type=submit]{
	position:relative;
	right:12px;
	bottom:1px;
	border:1px solid #666;
	margin-top:40px;
	margin-right:-297px;
	padding:12px 9px 13px 9px;
	background:#333;
	color:#FFF;
	
	transition-property:background;
	transition-duration:0.3s;
	transition-timing-function:ease-out;
}
input[type=submit]:hover{
	border:1px solid #666;
	background:#FC0;
	color:#FFF;
}
#footerphone{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-top:30px;
	color:#FFF;
	letter-spacing:1px;
	position:relative;
	left:55px;
}
#no{
	font-weight:100;
	font-family:Arial, Helvetica, sans-serif;
	color:#999;
}
#footeremail{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-top:10px;
	color:#FFF;
	letter-spacing:1px;
	position:relative;
	left:55px;
}
#bottom{
	position:relative;
	z-index:1;
	top:-2px;
	width:100%;
	background:#666;
	height:52px;
}
#row2footer{
	margin:0 auto;
	width:80%;
}
#cr{
	float:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:15px;
	padding-top:17px;
}
#cr1{
	float:right;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:15px;
	padding-top:10px
}
#heart{
	color:#FC0;
	font-size:22px;
}